Django
django-cors-headers
djangorestframework
Pillow
channels
djangorestframework-simplejwt
channels-redis
daphne 
whitenoise[brotli]
dj-database-url
pydub
gunicorn
websockets
psycopg2
uvicorn[standard]
aioredis
asgiref
async-timeout
attrs
autobahn
Automat
cffi
constantly
cryptography
pyasn1
pyasn1-modules
pycparser
PyHamcrest
pyOpenSSL
pytz
service-identity
six
sqlparse
Twisted
txaio
zope.interface
hiredis
hyperlink
idna
incremental
msgpack

